{% load static %}
<!--_footer.html-->
<!-- Footer -->
<footer class="font-small bg-primary text-light">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Programação II</h5>
        <p>Trabalho realizado para a matéria de Programação II, do Prof Me. Ivan</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Redes sociais</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.instagram.com/siuemgfrutal/?hl=pt-br"><i title ="Facebook SI"class="fab fa-facebook text-light fa-2x"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/SIUEMGFRUTAL/"><i title="Instagram SI" class="fab fa-instagram text-light fa-2x mt-2"></i></a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="{%static 'vendor/jquery/jquery.slim.min.js'%}"></script>
<script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>